.header{
    justify-content: left;
    margin-right: 200px;
    margin-left: 200px;
    height: 200px;
    margin-bottom: 150px;
}
img{
    width: 77px;
}
body{
    display: flex;
    height: 100vh;
    justify-content: right;
    align-items: center;
    background: lightskyblue;
    padding: 10px;
}
.container{
max-width: 700px;
width: 100%;
background: #fff;
padding: 25px 30px;
border-radius: 5px;
justify-content: left;
margin-right: 130px;
}
.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}
.user-details .input-box input{
    height: 25px;
    width: 100%;
}
.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    outline: none;
    padding-left: 15px;
    font-size: 16px;
}
form .button{
    height: 45px;
    margin: 45px 0;
}
form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: white;
    background: lightskyblue;
    border: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
}